<nav class="navbar">
  <a href="index.html" class="logo">Wayz, Eduard & Joanne</a>
  <!-- neues Burger-Icon -->
  <div class="menu-toggle">☰</div>

  <!-- Nav-Links jetzt in einem ein- und ausklappbaren Container -->
  <div class="nav-menu">
    <ul class="nav-links">
      <li><a class="font-kiona" href="index.html">Start</a></li>
      <li><a class="font-kiona" href="infos.html">Infos</a></li>
      <li><a class="font-kiona" href="rsvp.html">Save your spot</a></li>
      <li><a class="font-kiona" href="gifts.html">Geschenke</a></li>
      <li><a class="font-kiona" href="contact.html">Kontakt</a></li>
    </ul>
  </div>
</nav>